{% extends "_layouts/cp" %}

{% includeCssResource "howToVideos/css/how-to-videos.css" %}

{% set howToVideos = craft.howToVideos.getWistiaHowToVideos %}

{% set title = "How To Videos"|t %}

{% set content %}

    <section id="how-to-videos-section">

        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>

        {% if howToVideos is not empty %}

            {% for sectionTitle, videos in howToVideos %}

                <h2>{{ sectionTitle }}</h2>

                <ul id="how-to-videos">

                    {% for video in videos %}

                        <li class="video">

                            <div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
                                <div class="wistia_responsive_wrapper"
                                     style="height:100%;left:0;position:absolute;top:0;width:100%;">
                                    <div class="wistia_embed wistia_async_{{ video.hashed_id }} videoFoam=false playerColor=33B6D9 popover=true popoverCaption={{ video.name|url_encode }}"
                                         style="height:100%;width:100%">
                                        &nbsp;</div>
                                </div>
                            </div>

                            <h3>{{ video.name }}</h3>

                        </li>

                    {% endfor %}

                </ul>

            {% endfor %}


        {% else %}

            <p>No Training Videos Found.</p>

        {% endif %}

    </section>

{% endset %}